@model DomainModel.Entities.Scale

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Save", "Scales"))
{
    <h4>
    Наименование
    @Html.TextBoxFor(Model => Model.name)
    <br/>
    Аббревиатура
    @Html.TextBoxFor(Model => Model.abreviature)
    <br/>
    Описание
    @Html.TextBoxFor(Model => Model.Description)
    <br/>
    Формула
    @Html.TextBoxFor(Model => Model.Formula)
    </h4>
    
    @Html.HiddenFor(Model => Model.Id);    
    @Html.HiddenFor(Model => Model.test_id);    
    
    <div>

    @Html.LabelFor(model => model.ScoreCalcType, "Тип расчета")

    @Html.DropDownList("ScoreCalcType")
    
    @*@{List<SelectListItem> my_list = new List<SelectListItem>();
      for (int i = 0; i < 10; i++)
      {
          my_list.Add(new SelectListItem() { Text = i.ToString() });
      }
    }*@
    
    @*@Html.DropDownListFor(Model=> Model.ScoreCalcType, my_list)*@

    @*@Html.DisplayFor(Model=> Model.ScoreCalcType.name )*@
    </div>

    <input type="submit" value="DO Edit" />    
    <input type="button" value="go back (cancel)" />
}







